<div class="row">
  <div class="col-md-2">
    <label>List of Users</label>
  </div>

  <div class="col-md-6 right">
    <input type="checkbox" class="form-check-input" name="addfeeder" [(ngModel)]="cardView" />
    <label class="form-check-label" for="gridCheck">
      Card View
    </label>
  </div>
</div>
<div class="row" *ngIf="cardView">
  <div class="col-sm-6" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6"><p class="card-text">RRNo: {{user.rrNo}}</p></div>
          <div class="col-sm-6"><p class="card-text">Firstname: {{user.firstname}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="card-text">Lastname: {{user.lastname}}</p></div>
          <div class="col-sm-6"><p class="card-text">Email: {{user.email}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"> <p class="card-text">Mobile: {{user.mobile}}</p></div>
          <div class="col-sm-6"><p class="card-text">Em mobile: {{user.emMobile}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"> <p class="card-text">Feeder: {{user.feeder}}</p></div>
          <div class="col-sm-6"> <p class="card-text">TC: {{user.transformer}}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><p class="card-text">Address: {{user.address}}, {{user.village}}, {{user.pincode}}, {{user.taluk}}, {{user.district}}, {{user.state}}</p></div>
          <!--<div class="col-sm-6"><p class="card-text">State: {{user.state}}</p></div>-->
        </div>
        <!--<div class="row">
    <div class="col-sm-6"> <p class="card-text">District: {{user.district}}</p></div>
    <div class="col-sm-6"> <p class="card-text">Taluk: {{user.taluk}}</p></div>
  </div>
  <div class="row">
    <div class="col-sm-6"> <p class="card-text">Village: {{user.village}}</p></div>
    <div class="col-sm-6"> <p class="card-text">Pincode: {{user.pincode}}</p></div>
  </div>-->

      </div>
    </div>
  </div>
</div>

<div class="table-responsive" *ngIf="!cardView">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">RRNo</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">EmMobile</th>
        <th scope="col">Address</th>
        <!--<th scope="col">State</th>
        <th scope="col">District</th>
        <th scope="col">Taluk</th>
        <th scope="col">Village</th>
        <th scope="col">Pincode</th>-->
        <th scope="col">Feeder</th>
        <th scope="col">TC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="card-text">{{user.rrNo}}</td>
        <td class="card-text">{{user.firstname}}</td>
        <td class="card-text">{{user.lastname}}</td>
        <td class="card-text">{{user.email}}</td>
        <td class="card-text"> {{user.mobile}}</td>
        <td class="card-text">{{user.emMobile}}</td>
        <td class="card-text">{{user.address}}, {{user.village}}, {{user.pincode}}, {{user.taluk}}, {{user.district}}, {{user.state}}</td>
        <!--<td class="card-text">{{user.state}}</td>
        <td class="card-text">{{user.district}}</td>
        <td class="card-text">{{user.taluk}}</td>
        <td class="card-text">{{user.village}}</td>
        <td class="card-text">{{user.pincode}}</td>-->
        <td class="card-text"> {{user.feeder}}</td>
        <td class="card-text"> {{user.transformer}}</td>
      </tr>
  </table>
</div>
