<app-homepage></app-homepage>
<p> List of users</p>
<div class="row" >
  <div class="col-sm-6" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <p class="card-text">RRNo: {{user.rrNo}}</p>
        <p class="card-text">Firstname: {{user.firstname}}</p>
        <p class="card-text">Lastname: {{user.lastname}}</p>
        <p class="card-text">Email: {{user.email}}</p>
        <p class="card-text">Mobile: {{user.mobile}}</p>
        <p class="card-text">Em mobile: {{user.emMobile}}</p>
        <p class="card-text">Address: {{user.address}}</p>
        <p class="card-text">State: {{user.state}}</p>
        <p class="card-text">District: {{user.district}}</p>
        <p class="card-text">Taluk: {{user.taluk}}</p>
        <p class="card-text">Village: {{user.village}}</p>
        <p class="card-text">Pincode: {{user.pincode}}</p>
        <p class="card-text">Feeder: {{user.feeder}}</p>
      </div>
    </div>
  </div>
</div>
