<app-homepage></app-homepage>
<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select State</label>
      <select [(ngModel)]="stateId" name="states" (change)="stateChanged()">
        <option *ngFor="let s of states" value="{{s.id}}">{{s.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select District</label>
      <select [(ngModel)]="districtId" name="districts" (change)="districtChanged()">
        <option *ngFor="let d of districts" value="{{d.id}}">{{d.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select Taluk</label>
      <select [(ngModel)]="talukId" name="taluks">
        <option *ngFor="let t of taluks" value="{{t.id}}">{{t.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="Village name" [(ngModel)]="village.Name">
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="saveVillage()">Create</button>
</form>
