<app-homepage></app-homepage>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : this.activeTab == 'district' }" href="#accordion" (click)="$event.preventDefault();select('district')">District Feeders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : this.activeTab == 'taluk' }" href="#accordion" (click)="$event.preventDefault();select('taluk')">Taluk Feeders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active' : this.activeTab == 'village' }" href="#accordion" (click)="$event.preventDefault();select('village')">Village Feeders</a>
  </li>
</ul>

<div id="accordion">
  <div class="card" *ngFor="let v of feeders">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#{{v.name}}" (click)="v.toggle = !v.toggle;">
        {{v.name}} Feeders
      </a>
    </div>
    <div id="{{v.name}}" class="collapse" [ngClass]="{'show' : v.toggle == true}" data-parent="#accordion">
      <div class="card-body">
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="addfeeder" [(ngModel)]="v.addFeeder" />
            <label class="form-check-label" for="gridCheck">
              Add Feeder
            </label>
          </div>
        </div>
        <div class="form-row" *ngIf="v.addFeeder">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" name="feedername" placeholder="Feeder name" [(ngModel)]="v.FeederName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Description</label>
            <div class="row">
              <div class="col-md-10">
                <input type="text" class="form-control" name="feederdesc" placeholder="Feeder description" [(ngModel)]="v.FeederDescription">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="addFeeder(v)">Save</button>
              </div>
            </div>
          </div>
        </div>
        <div id="accordion1">
          <div class="card" *ngFor="let f of v.feeders">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#{{f.name}}" (click)="f.toggle = !f.toggle;">
                Feeder : {{f.name}}({{f.description}}) -> Transformers
              </a>
            </div>
            <div id="{{f.name}}" class="collapse" [ngClass]="{'show' : f.toggle == true}" data-parent="#accordion1">
              <div class="card-body">
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="addTransformer" [(ngModel)]="f.addTransformer" />
                    <label class="form-check-label" for="gridCheck">
                      Add Transformer
                    </label>
                  </div>
                </div>
                <div class="form-row" *ngIf="f.addTransformer">
                  <div class="form-group col-md-6">
                    <label for="transformername">Name</label>
                    <input type="text" class="form-control" name="transformername" placeholder="Transformer name" [(ngModel)]="f.TransformerName">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="transformerdesc">Description</label>
                    <div class="row">
                      <div class="col-md-10">
                        <input type="text" class="form-control" name="transformerdesc" placeholder="Transformer description" [(ngModel)]="f.TransformerDescription">
                      </div>
                      <div class="col-md-2">
                        <button type="button" class="btn btn-primary" (click)="addTransformer(v.id, f)">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of f.transformers">
                      <td>{{t.name}}</td>
                      <td>{{t.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
