<app-homepage></app-homepage>
<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputEmail4">RRNO</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="RRNO" [(ngModel)]="user.RRNo">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Firstname</label>
      <input type="text" class="form-control" name="inputPassword4" placeholder="Enter firstname" [(ngModel)]="user.Firstname">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Lastname</label>
      <input type="text" class="form-control" name="inputPassword4" placeholder="Enter lastname" [(ngModel)]="user.Lastname">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Email Id</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="email Id" [(ngModel)]="user.Email">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputAddress">Address</label>
      <textarea class="form-control" name="exampleFormControlTextarea1" rows="3" [(ngModel)]="user.Address"></textarea>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select State</label>
      <select [(ngModel)]="stateId" name="states" (change)="stateChanged()" class="form-control">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let s of states" value="{{s.id}}">{{s.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select District</label>
      <select [(ngModel)]="districtId" name="districts" (change)="districtChanged()" class="form-control">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let d of districts" value="{{d.id}}">{{d.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select Taluk</label>
      <select [(ngModel)]="talukId" name="taluks" (change)="talukChanged()" class="form-control">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let t of taluks" value="{{t.id}}">{{t.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="inputEmail4">Select Village</label>
      <select [(ngModel)]="villageId" name="villages" (change)="villageChanged()" class="form-control">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let v of villages" value="{{v.id}}">{{v.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select Feeder</label>
      <select name="feeders" class="form-control" [(ngModel)]="feederId" (change)="feederChanged()">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let v of feeders" value="{{v.id}}">{{v.name}} -- {{v.description}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Select Trans.</label>
      <select name="feeders" class="form-control" [(ngModel)]="user.Transformer">
        <option value="0">---- Please select ----</option>
        <option *ngFor="let v of transformers" value="{{v.id}}">{{v.name}} -- {{v.description}}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Pin Code</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="Pin code" [(ngModel)]="user.Pincode">
    </div>
  </div>
  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="inputEmail4">Mobile number</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="Mobile No" [(ngModel)]="user.Mobile">
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Energy Meter Mobile number</label>
      <input type="text" class="form-control" name="inputEmail4" placeholder="Mobile No" [(ngModel)]="user.EMMobile">
    </div>
    
  </div>
  <button type="button" class="btn btn-primary" (click)="createUser()">Create</button>
</form>
